[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
requests = "*"
sqlalchemy = "*"
psycopg2 = "*"
flask = "*"
greenlet = "*"
python-dateutil = "*"
python-dotenv = "*"
waitress = "*"
scipy = "*"
beautifulsoup4 = "*"
gunicorn = "*"
ipykernel = "*"
scikit-learn = "*"

[dev-packages]
pandas = "*"

[requires]
python_version = "3.10"
